<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
  {include file="public/nav" /}
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('QueryDevice/index')}">
        日期范围：<input class="layui-input" placeholder="开始日" name="begin_day" id="begin_day" value="{$begin_day}">
        <input class="layui-input" placeholder="截止日" name="end_day" id="end_day" value="{$end_day}">
        &nbsp;
        设备类型：
        <div class="layui-input-inline">
          <select name="device" class="w80" id="device"  lay-filter="device"  onchange="deviceChange()" lay-search>
            <option value="">全部</option>
            {foreach name="device_list" item="item"}
            <option value="{$item.name}" device_id="{$item.device_id}" {eq name="item.name" value="$device" }selected{/eq}>{$item.name}</option>
            {/foreach}
          </select>
        </div>
        &nbsp;
        设备编号：
        <div class="layui-input-inline">
          <select name="code" class="w80" id="selectCode" lay-search>
            <option value="">全部</option>
          </select>
        </div>
        检查项目
        <div class="layui-input-inline">
          <select name="check_item" class="w80"  id="selectCheckItem" lay-search>
            <option value="">全部</option>
          </select>
        </div>
        <button class="layui-btn" type="submit"><i class="layui-icon"></i></button>
      </form>
    </div>

    <xblock>
      <a class="layui-btn layui-btn-normal" href="{:url('QueryDevice/index',['act'=>'export_excel', 'begin_day'=>$begin_day,'end_day'=>$end_day,'work_area'=>$work_area,'work_flight'=>$work_flight])}">
          <i class="layui-icon">&#xe60a;</i>导出excel
      </a>
    </xblock>
    <table class="layui-table text-center">
      <thead>
      <tr>
        <th style="text-align:center;">日期</th>
        {foreach name="parts_status_list" item="item"}
        <th style="text-align:center;">{$item.name}</th>
        {/foreach}

      </tr>
      </thead>
      <tbody>
      {foreach name="list" item="item" key="key"}
      <tr>
        <td>{$item.day_str}</td>
        {foreach name="parts_status_list" item="value" }


        <td>{$item[$value['type'].'_'.$value['id']]}</td>

        {/foreach}

      </tr>
      {/foreach}
      </tbody>
    </table>
    <div class="page">
      {$page}
    </div>
  </div>
</body>
<script>
    var form;
    layui.use('form', function(){
        form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        form.on('select(device)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            var query={};
            query.device=data.value;
            ajaxGetSelect(query);
        });
    });

    function ajaxGetSelect(query){
        $.get("{:url('QueryDevice/getSearchSelect')}",query,function (data) {
            if(data){

                $("#selectCode").html(data.code_html);
                $("#selectCheckItem").html(data.parts_html);
                console.log(data);
                form.render();
            }
        },"json");
    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#begin_day' //指定元素
            , max: '{$end_day}'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end_day' //指定元素
            , max: '{$today}'
        });
    });
    $(function () {
        var query={};
        query.device="{$device}";
        query.code="{$code}";
        query.check_item="{$check_item}";
        ajaxGetSelect(query);
    });
    //初始化下拉框

</script>

</html>
