<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
  {include file="public/nav" /}
  <div class="x-body">
    <div class="layui-row tl">
      <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('Role/index')}">
        <input type="text" name="keyword" placeholder="请输入角色名称" autocomplete="off" class="layui-input" value="{$keyword}">
        <button class="layui-btn" type="submit"><i class="layui-icon"></i></button>
      </form>
    </div>

    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
      <button class="layui-btn" onclick="x_admin_show('添加角色','{:url('Role/add')}')"><i
                class="layui-icon"></i>添加
        </button>
      <span class="x-right" style="line-height:40px">共有数据：{$totalRows} 条</span>
    </xblock>
    <table class="layui-table">
      <thead>
        <tr>
          <th width="40">
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
          </th>
          <th width="40">ID</th>
          <th>角色名称</th>
          <th>角色描述</th>
          <th width="140">操作</th>
      </thead>
      <tbody>
        {foreach name="list" item="item"}

        <tr>
          <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$item.ar_id}'><i class="layui-icon">&#xe605;</i>
            </div>
          </td>
          <td>{$item.ar_id}</td>
          <td>{$item.ar_name}</td>
          <td>{$item.ar_intro}</td>
          <td class="td-manage">
            <a title="编辑" onclick="x_admin_show('编辑','{:url('Role/edit',['ar_id'=>$item['ar_id']])}')" href="javascript:;" class="layui-btn layui-btn layui-btn-xs">
                    <i class="layui-icon">&#xe642;</i> 编辑
                </a>
            <a title="删除" onclick="member_del(this,'{$item.ar_id}')" href="javascript:;" class="layui-btn-danger layui-btn layui-btn-xs">
                    <i class="layui-icon">&#xe640;</i> 删除
                </a>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>


    <div class="page">
      {$page}
    </div>

  </div>
  <script>
    /*用户-删除*/
    function member_del(obj, id) {
      layer.confirm('确认要删除吗？', function(index) {
        $.post('{:url("Role/doDel")}', {
          'ids': id
        }, function(data) {
          if (data.code == 1) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg(data.msg, {
              icon: 1,
              time: 1000
            });
          } else {
            msgFaild(data.msg);
          }
        }, 'json');

      });
    }


    function delAll(argument) {

      var data = tableCheck.getData();
      layer.confirm('确认要删除吗？' + data, function(index) {
        $.post('{:url("Role/doDel")}', {
          'ids': data.join(",")
        }, function(data) {
          if (data.code == 1) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {
              icon: 1
            });
            $(".layui-form-checked").not('.header').parents('tr').remove();
          } else {
            msgFaild(data.msg);
          }
        }, 'json');

      });
    }
  </script>


</body>

</html>