<!DOCTYPE html>
<html>

<head>
    {include file="public/header" /}
</head>

<body style="background-color:#f2f2f2;">

<div class="layui-container" style="width:800px;overflow:hidden;margin: 0 auto;">
    <form class="layui-form mainform " method="post" action="{:url('BirdSupervise/doEdit')}">
        <input type="hidden" id="id" value="{$model.id}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    巡视日期
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.day_str}
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">
                    巡视序号
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.view_number}
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    巡视人员一
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.worker1}
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">
                    巡视人员二
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.worker2}
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    天气情况一
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.weather1}
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">
                    天气情况二
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.weather2}
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    温度
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.temperature}
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">
                    湿度
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.humidity}
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    风向
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.wind_direction}
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">
                    风力
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$model.wind_power}
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                气压
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.pressure}
                </div>
            </div>
        </div>

        <hr>


        <div class="layui-form-item">
            <label class="layui-form-label">
                巡视时间
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.time_str}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                置信度
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.realness}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                鸟情描述
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.describe}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                飞行高度
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.height}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                鸟类名称
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.bird_name}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                观测区域
            </label>
            <div class="layui-input-inline">
                <div class="layui-form-label w180 tl ">
                    {$model.area}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                鸟的数量
            </label>
            <div class="layui-input-inline">
                <div class="layui-form-label tl w180">
                    {$model.bird_num}
                </div>
            </div>
        </div>

        {foreach name="extraDetail" item="item"}
            <div class="layui-form-item">
                <label class="layui-form-label">
                    {$item.item_name}
                </label>
                <div class="layui-input-inline">
                    <div class="tl layui-form-label w180">
                        {$item.item_value}
                    </div>
                </div>
            </div>
        {/foreach}

        <div class="layui-form-item">
            <label class="layui-form-label">
                录入人员
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.staff}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                人员地址经纬度
            </label>
            <div class="layui-input-inline">
                <div class="tl layui-form-label w180">
                    {$model.lng_gcj02}
                </div>
                <div class="tl layui-form-label w180">
                    {$model.lat_gcj02}
                </div>
            </div>
            <div class="layui-input-inline">
                {eq name="model.lng_gcj02" value="0"}
                <div class="layui-form-label tl w180">
                </div>
                {else/}
                <div class="layui-form-label tl w180">
                    <a onclick="openMap()" style="cursor: pointer;color: #1E9FFF;">查看地图</a>
                </div>
                {/eq}
            </div>
        </div>

        <script>
            function openMap(){
                var id = $('#id').val();
                var url = '{:url("BirdSupervise/map")}';
                url += '?id=' + id;
                console.log(url);
                open_with_full_screen('查看位置',url);
            }
        </script>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline w300">
                <div class="layui-form-label tl">{$model.remarks}</div>
            </div>
        </div>

        <style>
            .laydate-time-list{padding-bottom:0;overflow:hidden}
            .laydate-time-list>li{width:50%!important;}
            .laydate-time-list>li:last-child { display: none;}
            .layui-form-label{width:120px;}
        </style>

    </form>

</div>

</body>

</html>
