<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
  {include file="public/nav" /}
  <div class="x-body">
    <div class="layui-row tl">
      <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('StaticWorkInsectRecord/index')}">
        <input class="layui-input" style="width:180px;" placeholder="请选择时间范围" name="day" id="dayRange" value="{$day}" autocomplete="off">
        <input type="text" name="keyword" placeholder="请输入喷药次数代号" autocomplete="off" class="layui-input" value="{$keyword}">
        <button class="layui-btn" type="submit"><i class="layui-icon"></i></button>
      </form>
    </div>

    <xblock>
      <a class="layui-btn layui-btn-normal" href="{:url('WorkInsect/index',['act'=>'export_excel'])}">
          <i class="layui-icon">&#xe60a;</i>导出excel
      </a>
      <span class="x-right" style="line-height:40px">共有数据：{$totalRows} 条</span>
    </xblock>
    <table class="layui-table">
      <thead>
        <tr>
          <th>日期</th>
          <th>时段</th>
          <th>喷药次数代号</th>
          <th>用水量（吨）</th>
          <th>管理员1</th>
          <th>管理员2</th>
          <th>服务商负责人</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>操作</th>
      </thead>
      <tbody>
        {foreach name="list" item="item"}

        <tr>
          <td>{$item.working_date|date="Y-m-d",###}</td>
          <td>{$item.time_period}</td>
          <td>{$item.spary_times}</td>
          <td>{$item.water_consumption}</td>
          <td>{$item.manager1}</td>
          <td>{$item.manager2}</td>
          <td>{$item.service_provider}</td>
          <td>{$item.start_time|date="H:i",###}</td>
          <td>{$item.end_time|date="H:i",###}</td>
          <td>
            <a title="详情" onclick="x_admin_show('详情','{:url('StaticWorkInsectRecord/detail',['working_date'=>$item['working_date'],'spary_times'=>$item['spary_times']])}')" href="javascript:;" class="layui-btn layui-btn-xs">
                <i class="layui-icon">&#xe63c;</i> 详情
            </a>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>


    <div class="page">
      {$page}
    </div>

  </div>
  <script>

    var startDate1 = new Date(new Date().setDate(1));
    //定义接收上个月的第一天和最后一天
    var startDate2 = new Date(new Date(new Date().setMonth(new Date().getMonth() - 1)).setDate(1));
    var endDate2 = new Date(new Date().setDate(0));

    //本年1月1号
    var startYearDate = new Date(new Date(new Date().setDate(1)).setMonth(0));
    //去年1月1号
    var startYearDate2 = new Date(new Date(new Date(new Date().setFullYear(new Date().getFullYear() - 1)).setDate(1)).setMonth(0));
    //去年年底
    var endYearDate = new Date(new Date(new Date(new Date().setFullYear(new Date().getFullYear() - 1)).setDate(0)).setMonth(11));

    var now = new Date(); //当前日期
    var nowDayOfWeek = now.getDay(); //今天本周的第几天

    layui.use('laydate', function() {
      var laydate = layui.laydate;

      //执行一个laydate实例
      laydate.render({
        elem: '#dayRange' //指定元素
        , max: '{$today}'
        , range: '~'
        , extrabtns: [
          {
            id: 'week',
            text: '本周',
            range: [new Date(new Date().setDate(new Date().getDate() - nowDayOfWeek + 1)), new Date()]
          },
          {
            id: 'lastday-7',
            text: '过去7天',
            range: [new Date(new Date().setDate(new Date().getDate() - 7)), new Date(new Date().setDate(new Date().getDate() - 1))]
          },
          {id: 'thismonth', text: '本月', range: [startDate1, now]},
          {id: 'lastmonth', text: '上个月', range: [startDate2, endDate2]},
          {id: 'thisyear', text: '本年', range: [startYearDate, now]},
          {id: 'lastyear', text: '上一年', range: [startYearDate2, endYearDate]}
        ],
      });

      //执行一个laydate实例
      // laydate.render({
      //   elem: '#end_day' //指定元素
      // });
    });

    /*用户-删除*/
    function member_del(obj, id) {
      layer.confirm('确认要删除吗？', function(index) {
        $.post('{:url("StaticWorkInsectRecord/doDel")}', {
          'ids': id
        }, function(data) {
          if (data.code == 1) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg(data.msg, {
              icon: 1,
              time: 1000
            });
          } else {
            msgFaild(data.msg);
          }
        }, 'json');

      });
    }


    function delAll(argument) {

      var data = tableCheck.getData();
      layer.confirm('确认要删除选中的记录吗？', function(index) {
        $.post('{:url("StaticWorkInsectRecord/doDel")}', {
          'ids': data.join(",")
        }, function(data) {
          if (data.code == 1) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {
              icon: 1
            });
            $(".layui-form-checked").not('.header').parents('tr').remove();
          } else {
            msgFaild(data.msg);
          }
        }, 'json');

      });
    }
  </script>


</body>

</html>
