<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
{include file="public/nav" /}
<div class="x-body">


  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()">
      <i class="layui-icon"></i>批量删除
    </button>
    <button class="layui-btn" onclick="add_content()">
      <i class="layui-icon"></i>添加
    </button>
    <span class="x-right" style="line-height:40px">共有数据：{$totalRows} 条</span>
  </xblock>

  <table class="layui-hide" id="dataTable" lay-filter="list_table_event"></table>


  <script type="text/html" id="table-operation-list">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
      <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
      <i class="layui-icon layui-icon-delete"></i>删除
    </a>
  </script>

  <script type="text/html" id="table-valid-list">
    {{#  if(d.valid == 1){ }}
    <span class="layui-badge layui-bg-blue">启用</span>
    {{# }else{ }}
    <span class="layui-badge-rim layui-bg-gray">停用</span>
    {{# }}}
  </script>

</div>
</body>
<script>

  var config = "{$configId}";

  function add_content() {
    var url = '{:url("DeviceMaintenanceConfigOption/add")}';
    url = url + '?config_id=' + config;
    layer.open({
      title: '添加内容选项',
      type: 2, skin: 'layui-layer-rim', //加上边框
      area: [
        '600px', '500px'
      ], //宽高
      content: url
    });
  }

  function edit_content(id) {
    var url = '{:url("DeviceMaintenanceConfigOption/edit")}';
    url = url + '?id=' + id;
    layer.open({
      title: '编辑内容选项',
      type: 2, skin: 'layui-layer-rim', //加上边框
      area: [
        '600px', '500px'
      ], //宽高
      content: url
    });
  }

  layui.use('table', function(){
    var table = layui.table;

    table.render({
      elem: '#dataTable'
      ,url:'{$dataUrl}'
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,totalRow: true
      ,cols: [[
        {type:'checkbox'}
        ,{field:'id', width:80, title: '编号'}
        ,{field:'config_code', title: '选项代码'}
        ,{field:'key', title: '选项键名'}
        ,{field:'value', title: '选项值'}
        ,{field:'sort', title: '排序'}
        ,{field:'valid', title: '是否有效', toolbar: '#table-valid-list',}
        ,{
          title: '操作',
          width: 350,
          toolbar: '#table-operation-list',
          fixed: 'right'
        }
      ]]
      ,page: true
    });

    //监听行工具事件
    table.on('tool(list_table_event)', function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case "edit":
          // var url = '{:url("DeviceMaintenance/edit")}';
          // url += '?id=' + data.id;
          // open_with_full_screen('编辑维护内容',url);
          edit_content(data.id);
          break;
        case "del":
          member_del(obj.data,obj.data.id);
          break;
        default:
      }
    });
  });

  /*用户-删除*/
  function member_del(obj, id) {
    layer.confirm('确认要删除吗？', function(index) {
      $.post('{:url("DeviceMaintenanceConfigOption/doDel")}', { 'ids': id }, function(data) {
        if(data.code == 1){
          layer.msg(data.msg, { icon: 1, time: 1000 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }

  function delAll(argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？' + data, function(index) {
      $.post('{:url("DeviceMaintenanceConfigOption/doDel")}', { 'ids': data.join(",") }, function(data) {
        if(data.code == 1){
          layer.msg('删除成功', { icon: 1 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }
</script>

<style>
  .layui-table-cell {
    overflow: visible;
  }

  .layui-table-box {
    overflow: visible;
  }

  .layui-table-body {
    overflow: visible;
  }
  /* 设置下拉框的高度与表格单元相同 */
  td .layui-form-select{
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .layui-input-inline{
    margin-bottom: 15px;
  }
</style>

</html>
