<!DOCTYPE html>
<html>

<head>
    {include file="public/header" /}

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{include file="public/nav" /}
<div class="x-body">
    <form class="layui-form mainform" method="post" action="{:url('Config/doEdit')}">
        <input type="hidden" name="code" value="{$model.code}" />
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                收件邮箱
            </label>
            <div class="layui-input-inline w400">
                <input type="text" id="recipient" name="recipient"
                       autocomplete="off" class="layui-input " value="{$model.recipient}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="Validform_checktip">请填写邮箱地址</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                发件人邮箱
            </label>
            <div class="layui-input-inline w400">
                <input type="text" id="sender" name="sender"
                       autocomplete="off" class="layui-input " value="{$model.sender}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="Validform_checktip">请填写发件人邮箱，必须是163邮箱</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                smtp授权码
            </label>
            <div class="layui-input-inline w400">
                <input type="text" id="smtp_code" name="smtp_code"
                       autocomplete="off" class="layui-input " value="{$model.smtp_code}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="Validform_checktip">请填写发件人邮箱smtp授权码</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                保存
            </button>
        </div>
    </form>

    <script>
        $(function () {
            $(".mainform").Validform({
                tiptype:function(msg,o,cssctl){
                    //msg：提示信息;
                    //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
                    //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
                    if(!o.obj.is("form")){
                        //验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;

                        var objtip=o.obj.parent().siblings(".layui-word-aux").children(".Validform_checktip");
                        cssctl(objtip,o.type);
                        objtip.html(msg);
                    }else{
                        console.log("o.obj is form");
                        var objtip=o.obj.find("#msgdemo");
                        cssctl(objtip,o.type);
                        objtip.html(msg);
                    }
                },
                ajaxPost:true,
                callback:function(data){
                    console.log(data);
                    if(data.code==1){
                        layer.alert(data.msg, {icon: 6}, function () {
                            layer.closeAll();

                        });
                    }else{
                        msgFaild(data.msg);
                    }
                }
            });



        });
    </script>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer;

            //自定义验证规则
            form.verify({

            });

            //监听提交
            form.on('submit(add)', function(data){
                console.log(data);
                var url=data.form.action;
                var query=data.field;
                $.post(url,query,function (resData) {
                    if(resData.code==1){
                        layer.alert(resData.msg, {icon: 6},function () {
                            layer.closeAll();
                        });
                    }else{
                        layer.alert(resData.msg, {icon: 5},function () {
                            layer.closeAll();
                        });
                    }
                },"json");
                return false;
            });


        });
    </script>

</div>

</body>

</html>
