<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
{include file="public/nav" /}
<div class="x-body">

  <div class="layui-row">
    <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('BirdNet/index')}">
      <!--<input class="layui-input" placeholder="开始时间" name="starting_time" id="starting_time" value="{$starting_time}">
      <input class="layui-input" placeholder="截止时间" name="end_time" id="end_time" value="{$end_time}">
      <input type="text" name="keyword" placeholder="请输入鸟名" autocomplete="off" class="layui-input" value="{$keyword}">-->

      日期范围：
      <div class="layui-input-inline">
        <input class="layui-input" style="width:180px;" placeholder="请选择时间范围" name="day" id="dayRange" value="{$day}" autocomplete="off">
      </div>

      <!--<input class="layui-input" placeholder="截止日" name="end_day" id="end_day" value="{$end_day}" autocomplete="off">-->
      &nbsp;
      设备名称：
      <div class="layui-input-inline">
        <select name="deviceId" class="w80" lay-search>
          <option value="">全部</option>
          {foreach name="device_list" item="item"}
          <option value="{$item.key}" {eq name="item.key" value="$deviceId" }selected{/eq}>{$item.value}</option>
          {/foreach}
        </select>
      </div>
      <button class="layui-btn" type="submit" style="margin-bottom: 15px;"><i class="layui-icon"></i></button>
    </form>
  </div>

  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()">
      <i class="layui-icon"></i>批量删除
    </button>
    <span class="x-right" style="line-height:40px">共有数据：{$totalRows} 条</span>
  </xblock>

  <table class="layui-hide" id="dataTable" lay-filter="list_table_event"></table>


  <script type="text/html" id="table-operation-list">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
      <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
      <i class="layui-icon layui-icon-delete"></i>删除
    </a>
  </script>

</div>
</body>
<script>

  layui.use('table', function(){
    var table = layui.table;

    table.render({
      elem: '#dataTable'
      ,url:'{$dataUrl}'
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,totalRow: true
      ,cols: [[
        {type:'checkbox'}
        ,{field:'id', width:80, title: '编号'}
        ,{field:'device', title: '设备名称'}
        ,{field:'device_code', title: '设备编号'}
        ,{field:'worker_code', title: '工卡编号'}
        ,{field:'unit', title: '维护单位'}
        ,{field:'maintenance_time', title: '维护时间'}
        ,{
          title: '操作',
          width: 350,
          toolbar: '#table-operation-list',
          fixed: 'right'
        }
      ]]
      ,page: true
    });

    //监听行工具事件
    table.on('tool(list_table_event)', function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case "edit":
          var url = '{:url("DeviceMaintenance/edit")}';
          url += '?id=' + data.id;
          open_with_full_screen('编辑设备维护记录',url);
          break;
        case "del":
          member_del(obj.data,obj.data.id);
          break;
        default:
      }
    });
  });

  /*用户-删除*/
  function member_del(obj, id) {
    layer.confirm('确认要删除吗？', function(index) {
      $.post('{:url("DeviceMaintenance/doDel")}', { 'ids': id }, function(data) {
        if(data.code == 1){
          layer.msg(data.msg, { icon: 1, time: 1000 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }

  function delAll(argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？' + data, function(index) {
      $.post('{:url("DeviceMaintenance/doDel")}', { 'ids': data.join(",") }, function(data) {
        if(data.code == 1){
          layer.msg('删除成功', { icon: 1 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }
</script>

<style>
  .layui-table-cell {
    overflow: visible;
  }

  .layui-table-box {
    overflow: visible;
  }

  .layui-table-body {
    overflow: visible;
  }
  /* 设置下拉框的高度与表格单元相同 */
  td .layui-form-select{
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .layui-input-inline{
    margin-bottom: 15px;
  }
</style>

</html>
