<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
  {include file="public/nav" /}
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('StatsBirdSupervise/index')}">
        <input class="layui-input" placeholder="请选择年份" name="year" id="year" value="{$year}">
        <button class="layui-btn" type="submit"><i class="layui-icon"></i></button>
      </form>
    </div>

    <xblock>
      <a class="layui-btn layui-btn-normal" href="{:url('StatsBirdSupervise/index',['act'=>'export_excel', 'year'=>$year])}">
          <i class="layui-icon">&#xe60a;</i>导出excel
      </a>
    </xblock>
    <table class="layui-table text-center">
      <thead>
        <tr>
          <th style="text-align:center;">月份</th>
          <th style="text-align:center;">记录日数</th>
          <th style="text-align:center;">总巡视次数</th>
          <th style="text-align:center;">01次巡视</th>
          <th style="text-align:center;">02次巡视</th>
          <th style="text-align:center;">03次巡视</th>
          <th style="text-align:center;">04次巡视</th>
          <th style="text-align:center;">总记录条数</th>
          <th style="text-align:center;">总只次数</th>
        </tr>
      </thead>
      <tbody>
        {foreach name="list" item="item" key="key"}
          <tr>
            <td>{$item.month}</td>
            <td>{$item.days}</td>
            <td>{$item.total_serial}</td>
            <td>{$item.serial_1}</td>
            <td>{$item.serial_2}</td>
            <td>{$item.serial_3}</td>
            <td>{$item.serial_4}</td>
            <td>{$item.total_records}</td>
            <td>{$item.total_times}</td>
          </tr>
        {/foreach}
      </tbody>
    </table>

  </div>
</body>
<script>
  layui.use('laydate', function() {
    var laydate = layui.laydate;
    laydate.render({ elem: '#year' , type: 'year' });
  });
</script>

</html>
