<!DOCTYPE html>
<html>

<head>
  {include file="public/header" /}
</head>

<body>
  {include file="public/nav" /}
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('DeviceRecord/index')}">
        <!--<input class="layui-input" placeholder="开始时间" name="starting_time" id="starting_time" value="{$starting_time}">
        <input class="layui-input" placeholder="截止时间" name="end_time" id="end_time" value="{$end_time}">
        <div class="layui-inline">
          <select name="device" lay-verify="required" lay-search="">
              <option value="">全部设备</option>
              {foreach name="device_list" item="item"}
                  <option value="{$item.key}" {eq name="item.key" value="$device"} selected {/eq}>{$item.key}</option>
              {/foreach}
          </select>
        </div>
        <input type="text" name="keyword" placeholder="请输入检查项目" autocomplete="off" class="layui-input" value="{$keyword}">-->
        日期范围：<input class="layui-input w100" placeholder="开始日" name="begin_day" id="begin_day" value="{$begin_day}" autocomplete="off"> -
        <input class="layui-input w100" placeholder="截止日" name="end_day" id="end_day" value="{$end_day}" autocomplete="off">
        &nbsp;
        设备类型：
        <div class="layui-input-inline">
          <select name="device" class="w80" id="device"  lay-filter="device"  onchange="deviceChange()" lay-search>
            <option value="">全部</option>
            {foreach name="device_list" item="item"}
            <option value="{$item.name}" device_id="{$item.device_id}" {eq name="item.name" value="$device" }selected{/eq}>{$item.name}</option>
            {/foreach}
          </select>
        </div>
        &nbsp;
        设备编号：
        <div class="layui-input-inline">
          <select name="code" class="w80" id="selectCode" lay-search>
            <option value="">全部</option>
          </select>
        </div>
        &nbsp;检查项目
        <div class="layui-input-inline">
          <select name="check_item" class="w80"  id="selectCheckItem" lay-search>
            <option value="">全部</option>
          </select>
        </div>
        <button class="layui-btn" type="submit"><i class="layui-icon"></i></button>
      </form>
    </div>

    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="delAll()">
        <i class="layui-icon"></i>批量删除
      </button>
      <button class="layui-btn" onclick="x_admin_show('添加设备维护工作记录','{:url('DeviceRecord/add')}', 700)">
        <i class="layui-icon"></i>添加
      </button>
      <a class="layui-btn layui-btn-normal" href="{:url('DeviceRecord/index',['act'=>'export_excel','begin_day'=>$begin_day,'end_day'=>$end_day,'device'=>$device,'code'=>$code,'check_item'=>$check_item])}">
        <i class="layui-icon">&#xe60a;</i>导出excel
      </a>
      <span class="x-right" style="line-height:40px">共有数据：{$totalRows} 条</span>
    </xblock>
    <table class="layui-table">
      <thead>
        <tr>
          <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
              <i class="layui-icon">&#xe605;</i>
            </div>
          </th>
          <th>编号</th>
          <th>日期</th>
          <th>设备</th>
          <th>编号</th>
          <th>检查项目</th>
          <th>处理方式</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {foreach name="list" item="item"}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$item.id}'>
                <i class="layui-icon">&#xe605;</i>
              </div>
            </td>
            <td>{$item.id}</td>
            <td>{:date("Y/n/j", $item.working_date)}</td>
            <td>{$item.device}</td>
            <td>{$item.code}</td>
            <td>{$item.check_item}</td>
            <td>{$item.process_method}</td>
            <td class="td-manage">
              <a title="编辑" onclick="x_admin_show('编辑','{:url('DeviceRecord/edit',['id'=>$item['id']])}', 600)" href="javascript:;" class="layui-btn layui-btn-xs" class="layui-btn layui-btn-xs">
                <i class="layui-icon">&#xe642;</i> 编辑
              </a>
              <a title="删除" onclick="member_del(this,'{$item.id}')" href="javascript:;" class="layui-btn-danger layui-btn layui-btn-xs" class="layui-btn-danger layui-btn layui-btn-xs">
                <i class="layui-icon">&#xe640;</i> 删除
              </a>
            </td>
          </tr>
        {/foreach}
      </tbody>
    </table>

    <div class="page"> {$page} </div>

  </div>
</body>

<script>
    var form;
    layui.use('form', function(){
        form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        form.on('select(device)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            var query={};
            query.device=data.value;
            ajaxGetSelect(query);
        });
    });

    function ajaxGetSelect(query){
        $.get("{:url('QueryDevice/getSearchSelect')}",query,function (data) {
            if(data){

                $("#selectCode").html(data.code_html);
                $("#selectCheckItem").html(data.parts_html);
                console.log(data);
                form.render();
            }
        },"json");
    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#begin_day' //指定元素
            , max: '{$end_day}'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end_day' //指定元素
            , max: '{$today}'
        });
    });
    $(function () {
        var query={};
        query.device="{$device}";
        query.code="{$code}";
        query.check_item="{$check_item}";
        ajaxGetSelect(query);
    });

  /*用户-删除*/
  function member_del(obj, id) {
    layer.confirm('确认要删除吗？', function(index) {
      $.post('{:url("DeviceRecord/doDel")}', { 'ids': id }, function(data) {
        if(data.code == 1){
          layer.msg(data.msg, { icon: 1, time: 1000 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }

  function delAll(argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？' + data, function(index) {
      $.post('{:url("DeviceRecord/doDel")}', { 'ids': data.join(",") }, function(data) {
        if(data.code == 1){
          layer.msg('删除成功', { icon: 1 });
          setTimeout( function(){ window.location.reload(); }, 1000);
        }
        else{
          msgFaild(data.msg);
        }
      }, 'json');
    });
  }
</script>

</html>
