<div class="layui-card">
  <div class="layui-card-header">往期记录</div>
  <div class="layui-card-body" style="max-height:700px; overflow-y:auto">
    <ul class="layui-timeline">
      {foreach name="records" item="item"}
      <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">{$item.date}</h3>
          {foreach name="item.record" item="recording"}
            <div class="layui-row" style="cursor:pointer">
              <div class="layui-col-md4">
                {$recording.device}
              </div>
              <div class="layui-col-md3">
                {$recording.check_item}
              </div>
              <div class="layui-col-md3">
                {$recording.process_method}
              </div>
              <div class="layui-col-md2">
                <button class="layui-btn layui-btn-xs copy" record-id="{$recording.id}">
                  <i class="layui-icon">&#xe630;</i>复制
                </button>
              </div>
            </div>
          {/foreach}
        </div>
      </li>
      {/foreach}
    </ul>
  </div>
</div>

<script>
  $('.copy').on('click', function() {
    var id = $(this).attr('record-id');
    $.ajax({
      url: "{:url('DeviceRecord/findAll')}",
      type: "post",
      dataType: "json",
      data: {
        id : id
      },
      success: function(res) {
        if (res.status === true) {
          reAssignAll(res.data);
          refresh();
        }
      }
    });
  });

  function reAssignAll(data) {
      $('#working_date').val(data['working_date']);
      $('#worker1').val(data['worker1']);
      $('#worker2').val(data['worker2']);
      $('#worker3').val(data['worker3']);
      $('#device').val(data['flight_area']);
      $('#code').val(data['start_time']);
      $('#check_item').val(data['check_item']);
      $('#process_method').val(data['process_method']);
      $('#remarks').val(data['remarks']);
      $('#aid').val(data['aid']);
  }

  function refresh() {
    layui.use('form', function() {
      var form = layui.form;
      form.render();
    });
  }
</script>
